.cont {
    position: absolute;
    display: flex;
    justify-content: space-between;
    background: silver;
    width: 50%;
    border-radius: 5px;
    margin-left: 25%;
    bottom: 0;

}
.video_box {
    position: relative;
}


.cont_item {
    cursor:pointer;
    padding-left: 3%;
    margin-right: 3%;
}

#videoPlayer {
    margin-left: 25%;
    width: 50%;
    height: 80%;
}

.hidden {
    display: none;
}